## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [2]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df = pd.read_csv("../data/processed/shopping_cleaned.csv")

In [3]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

color_table = pd.pivot_table(df, values= "Location", columns= "Season", index = "Color", aggfunc=len)

In [4]:
# TODO: Display this pivot table

color_table

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [5]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

color_table["Fall"].sort_values(ascending=False)

Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [6]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

color_table["Winter"].sort_values(ascending=False)

Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [7]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

color_table["Spring"].sort_values(ascending=False)

Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [8]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

color_table["Summer"].sort_values(ascending=False)

Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [9]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

color_table.idxmax()

Season
Fall          Brown
Spring    Baby blue
Summer     Lavender
Winter        Black
dtype: object

In [10]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

purch_table = pd.pivot_table(df, values= "Location", columns= "Season", index = "Item Purchased", aggfunc=len)
purch_table

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack        72.0     NaN     NaN   113.0
Belt            25.0     NaN     NaN     NaN
Boots           51.0     NaN     NaN    83.0
Dress           36.0    74.0   118.0     NaN
Gloves          68.0     NaN     NaN   112.0
Handbag         31.0    78.0   111.0     NaN
Hoodie          58.0     NaN     NaN   105.0
Jacket          47.0     NaN     NaN    87.0
Jeans           46.0     NaN     NaN     NaN
Leggings        58.0     NaN     NaN   118.0
Pajamas         65.0     NaN     NaN   111.0
Running Shoes   25.0    89.0   134.0     NaN
Scarf           56.0     NaN     NaN   101.0
Shorts          31.0    76.0   152.0     NaN
Socks           71.0     NaN     NaN   101.0
Sunglasses      43.0    80.0   135.0     NaN
Sweater         72.0     NaN     NaN   113.0
T-shirt         17.0    80.0   115.0     NaN

In [11]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

purch_table.idxmax()

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

In [12]:
df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
1,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
2,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
3,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
4,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card

In [13]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

promo = df[df['Promo Code Used'] == 'Yes']
no_promo = df[df['Promo Code Used'] != 'Yes']

In [14]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

promo.shape

(1373, 13)

In [15]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

average_promo = np.mean(promo["Purchase Amount (USD)"])
print("Average purchase size of promo code users is $", average_promo)

Average purchase size of promo code users is $ 50.06747998236351

In [16]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

no_promo.shape

(1785, 13)

In [17]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

average_no_promo = np.mean(no_promo["Purchase Amount (USD)"])
print("Average purchase size of no promo code users is $", average_no_promo)

Average purchase size of no promo code users is $ 30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

H0: There is no difference in dollar amount spend in our shop between promo-code users and non-promo-code users.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

H1: There is a differnce in dollar amount spend in our shop between promo-code users and non-promo-code users.

In [18]:
promo.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
1785,36.0,Female,Running Shoes,62.442101,Massachusetts,L,White,Summer,Present,Standard,Yes,0,Credit Card
1786,57.0,Male,Backpack,51.969839,Michigan,M,Aubergine,Fall,Missing,2-Day Shipping,Yes,1,Credit Card
1787,26.0,Male,Socks,54.899050,Wisconsin,M,Black,Fall,Missing,2-Day Shipping,Yes,0,Credit Card
1788,36.0,Female,Handbag,46.883976,Delaware,S,Mauve,Summer,Missing,2-Day Shipping,Yes,2,Credit Card
1789,34.0,Female,Backpack,45.171082,Texas,L,Mauve,Winter,Present,2-Day Shipping,Yes,13,Credit Card

In [19]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html
from scipy.stats import ttest_ind
t_statistic = ttest_ind(promo["Purchase Amount (USD)"], no_promo["Purchase Amount (USD)"])
t_statistic

TtestResult(statistic=93.2464714350831, pvalue=0.0, df=3156.0)

In [20]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_review = df.groupby(by=["Review Rating"])

In [21]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

g_review.groups.keys()

dict_keys(['Missing', 'Present'])

In [22]:
df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
1,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
2,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
3,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
4,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card

In [23]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

g_review_means = g_review[["Purchase Amount (USD)", "Age", "Previous Purchases"]].mean()
g_review_means

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
Missing                    38.923623  34.080198            5.344059
Present                    38.615947  34.371705            6.778559

In [24]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

df["Prev Purchase Group"] = pd.cut(df["Previous Purchases"], bins=2, labels=["Low", "High"], include_lowest=True)
df["Prev Purchase Group"]

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
3153    High
3154     Low
3155    High
3156     Low
3157     Low
Name: Prev Purchase Group, Length: 3158, dtype: category
Categories (2, object): ['Low' < 'High']

In [25]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

low = df[df["Prev Purchase Group"] == "Low"]
count_low = low["Review Rating"].value_counts()
print(count_low)

Review Rating
Missing    1686
Present     840
Name: count, dtype: int64

In [26]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

high = df[df["Prev Purchase Group"] == "High"]
count_high = high["Review Rating"].value_counts()
print(count_high)

Review Rating
Missing    334
Present    298
Name: count, dtype: int64

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

For Fall our top 3 colors are brown, burnt orange, and terra cotta. 

For Winter our top 3 colors are black, burnt orange, and aubergine. 

In total we can say that our most popular colors for Fall and Winter collection are  black, burnt orange, amd brick red.

In [27]:
#most popular colors in Fall and Winter collection
Fall_Winter = color_table["Winter"].sort_values(ascending=False) + color_table["Fall"].sort_values(ascending=False)
Fall_Winter.sort_values(ascending=False).head(3)

Color
Black           208
Burnt orange    205
Brick red       198
dtype: int64

### Q2

What are the top three colors for Spring & Summer?

For Spring our top 3 colors are baby blue, white, and lavander. 

For Summer our top 3 colors are lavender, lemon yellow, and baby blue. 

In total we can say that our most popular colors for Spring and Summer collection are  lavander, baby blue, and lemon yellow.

In [28]:
Spring_Summer = color_table["Spring"].sort_values(ascending=False) + color_table["Summer"].sort_values(ascending=False)
Spring_Summer.sort_values(ascending=False).head(3)

Color
Lavender        157
Baby blue       153
Lemon yellow    145
dtype: int64

### Q3

What is the most popular clothing item by season?

The most popular clothing by season is backpack for Fall, running shoes in spring, shorts in summer and leggings in winter.

In [29]:
purch_table.idxmax()

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

Our p-value is less than 0.1, that means we can reject our null hypothesis and conclude that is a differnce in dollar amount spend in our shop between promo-code users and non-promo-code users.

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

According to our data we can determine that not a lot of customers leave a review no metter if they are returning customer or a new comers. 
But from the data we observe we can say that returning customers are more likely to leave a review than new customers. 

This may be caused by human psychology, leaving a postive review is like doing something for the brand isntead of recieveing. When you buy something you don't want to assign yourself a work of composing a review. When you become loyal to the brand, you may leave a review as a token of your gratitude and respct for their values/products. The most common reaseon of leaving a review when you are new customer is letting know people of your bad/phenominal expereicne or warn them of scams.

In [30]:
percentage_low = count_high / len(high) * 100
print(percentage_low)

Review Rating
Missing    52.848101
Present    47.151899
Name: count, dtype: float64

In [31]:
percentage_low = count_low / len(low) * 100
print(percentage_low)

Review Rating
Missing    66.745843
Present    33.254157
Name: count, dtype: float64